<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
{% for project_name, activities in timesheets %}
    <h3>{{ project_name }}</h3>
    {%  if activities is empty %}
        <div>No time logged found.</div>
    {% else %}
        {% for activity in activities %}
            <div>
                <a href="{{ path('timesheet_edit', { id: activity.id }, relative = false ) }}" target="_blank">
                    {{ activity.begin | date('Y-m-d') }},
                    {{ activity.duration / 60 }}m,
                    {{ activity.user.username }},
                    {{ activity.activity.name }}
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
</body>
</html>

