<div class="container">
    {% for project_name, activities in timesheets %}
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ project_name }}</h3>
            </div>
        </div>
        {% if activities is empty %}
            <div class="row">
                <div class="col-xs-12">
                    <div>No time logged found.</div>
                </div>
            </div>
        {% else %}
            <div class="row">
                    <div class="col-xs-2 timesheet header">
                        Date
                    </div>
                    <div class="col-xs-1 timesheet header">
                        HH:MM
                    </div>
                    <div class="col-xs-2 timesheet header">
                        User
                    </div>
                    <div class="col-xs-7 timesheet header">
                        Description
                    </div>
            </div>
            {% for activity in activities %}
                <div class="row">
                    <div class="col-xs-2 timesheet">
                        <a href="{{ path('timesheet_edit', { id: activity.id }, relative = false ) }}" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        {{ activity.begin | date('y-m-d') }}
                    </div>
                    <div class="col-xs-1 timesheet">
                        {% set minutes = activity.duration / 60 %}
                        {{ minutes | hoursAndMinutes }}
                    </div>
                    <div class="col-xs-2 timesheet">
                        {{ activity.user.username }}
                    </div>
                    <div class="col-xs-7 timesheet">
                        {{ activity.activity.name }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
