{{ form_start(form) }}
<div class="ChromePlugin-form-error">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.activity) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.startDateTime) }}
    </div>
</div>
<div class="row">
    Time quick select:<br>
    {{ form_widget(form.dec15) }} 15m {{ form_widget(form.inc15) }}<br />
    {{ form_widget(form.dec60) }} 60m {{ form_widget(form.inc60) }}<br />
    Or enter time spent in minutes (e.g. 90):
    {{ form_row(form.duration) }}
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.description) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.send) }}
    </div>
</div>
{{ form_end(form) }}
