{% extends 'base.html.twig' %}

{% block page_actions %}
    {# TODO: I'm pretty sure this is not the best way to do this but time is short #}
    <div class="breadcrumb">
        <div class="box-tools">
            <div class="btn-group">
                <a class="btn btn-default btn-create" href="{{ path('neontribe_ext_projects') }}"><i class="fas fa-list"></i></a>
                <a class="btn btn-default btn-create" href="{{ path('neontribe_ext_config') }}"><i class="fas fa-cogs"></i></a>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# How do I move this to a separate file in a plugin? #}
    <script>
        let path = "{{ path }}";

        $(document).ready(function() {
            $(".save-project").on("click", function () {
                var extid = $(this).parent().parent().find('input').val();
                var projectid = $(this).data("projectid");
                var url = path.replace("PROJECT_ID", projectid).replace("EXT_ID", extid);
                $.ajax({
                    url: url,
                    success: function () {
                        console.log(data);
                    },
                    error: function () {
                        console.log(data);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block main %}
{% for customerName, customer in customers %}
    <div>
        <ul>
            <li class='customername'>
                <a href="#" onclick="$(this).parent().find('table').toggle();">{{ customerName }}</a>
                <table style="display: none">
                    <tr><th>Kimai Project</th><th>External ID</th></tr>
                    {% for project in projects[customerName] %}
                        <tr class='project'>
                            <td>{{ project.name }}</td>
                            {% set extid = project.getMetaField('externalID') %}
                            {% if extid != null %}
                                <td><input type="text" value="{{ extid.value }}"/></td>
                            {% else %}
                                <td><input type="text" value=""/></td>
                            {% endif %}
                            <td>
                                <a href="#" class="save-project" data-projectid="{{ project.id }}">
                                    <i class="far fa-save"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </li>
        </ul>
    </div>
{% endfor %}

{% endblock %}